<%= content_for :title do %>Add Item<% end %>
<%= content_for :navigation do %><%= mxit_nav_link '/', 'Cancel' %><% end %>

<p>New to-do item: <b><%= @content %></b></p>

<p>Please enter a priority from 1 (very important) to 5 (not at all important)</p>